---
import UpArrow from "../assets/svg/up-arrow.svg";
import Blob from "../assets/svg/blob.svg";
---

<header>
  <div class="header-content">
    <h1>Raise<span class="hive">hive</span></h1>
    <p class="tagline">Fuel the Climb. Fund the Dream.</p>
  </div>

  <UpArrow class="uparrow uparrow-1" />
  <UpArrow class="uparrow uparrow-2" />
  <UpArrow class="uparrow uparrow-3" />
  <UpArrow class="uparrow uparrow-4" />

  <Blob class="blob" />
</header>

<style>
  header {
    background: var(--color-midnight-navy);
    padding: 3rem 1rem 2rem 1rem;
    text-align: center;
    color: var(--color-mint-cream);
    position: relative;
    overflow: hidden;
  }

  header h1 {
    font-family: var(--font-headline);
    font-weight: 700;
    font-size: 2.75rem;
    margin: 0;
    position: relative;
    display: inline-block;
    z-index: 10;
    line-height: 1;
  }

  /* Highlight "rise" */
  header h1 .hive {
    color: var(--color-tangerine);
    font-weight: 700;
  }

  header p.tagline {
    margin-top: 0rem;
    font-weight: 600;
    font-size: 1.25rem;
    font-family: var(--font-body);
    color: var(--color-electric-indigo);
    position: relative;
    z-index: 10;
  }

  .blob {
    position: absolute;
    z-index: 0;
    top: -30vh;
    left: -170vw;
    animation: 10s infinite blob;
  }
  @keyframes blob {
    0% {
      translate: 0 -100px;
      opacity: 0.05;
    }
    50% {
      translate: 25vw -40px;
      opacity: 0.3;
    }

    100% {
      translate: 50vw 20px;
      opacity: 0.1;
    }
  }

  .uparrow {
    position: absolute;
    z-index: 0;
    animation: 4s infinite slide-up;
  }

  .uparrow-1 {
    top: 40px;
    right: 30vw;
    animation-delay: 0;
    transform: scale(0.5);
  }
  .uparrow-2 {
    top: 30px;
    right: 24vw;
    animation-delay: 0.2s;
    transform: scale(0.7);
  }
  .uparrow-3 {
    top: 20px;
    right: 16vw;
    animation-delay: 0.5s;
    transform: scale(0.9);
  }
  .uparrow-4 {
    top: 0px;
    right: 6vw;
    animation-delay: 0.8s;
    transform: scale(1.2);
  }

  @keyframes slide-up {
    0% {
      translate: 0 100px;
      opacity: 0;
    }

    50% {
      translate: 0 50px;
      opacity: 1;
    }

    100% {
      translate: 0 0;
      opacity: 0;
    }
  }
</style>
